/* Body applies all the styles to the page */
body {
  font-family: Cooper Hewitt;
  font-size: 16px;
  background-color:grey;
  color:hotpink;
}

a {
  color: #ffffff;
  text-decoration: none;
}

header {
  /* using fixed allows us to precisely position an element in relation to the broswer viewpoert */
  position: fixed;
  top: 20px;
  left: 20px;
}

h1 {
  font-size: 24px;
  /* margins are the go to for when we want to create space between elements*/
  margin-bottom: 5px;

}

section {
  /* vh stands for viewPort height which will be relative to the height of the browser viewport */
  height: 100vh;
  background-size: cover;
  /* background attachment fixed disconnects the image and the section and makes the image part
  of the browser viewport instead */
  background-attachment: fixed;
}


.image1 {
  background-image: url("/photography/assets/images/image1.jpg");
}

.image2 {
  background-image: url("/photography/assets/images/image2.jpg");
}

.image3 {
  background-image: url("/photography/assets/images/image3.jpg");
}

.image4 {
  background-image: url("/photography/assets/images/image4.jpg");
}

.image5 {
  background-image: url("/photography/assets/images/image5.jpg");
}

footer {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hotpink;
}

footer a {
  margin-right: 5px;
}

a:hover {
  color: grey;
}