body {
  font-family: Lora;
  /* line-height acts as the multiplier of the fontsize eg. 18px * 1.5 = 27px; */
  line-height: 1.5;
  font-size: 18px;
  color: #ffffff;
  background-image: url('/thirdWebsite/assets/images/background.svg');
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}

header {
  background-color: #ffffff;
  padding: 40px;
}

nav {
  background-color:#f05d5d;
  /* top, right, bottom and left order */
  padding: 20px 40px 20px 40px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 15px 0 0;
  border-bottom: 2px solid #f05d5d;
}

nav a:hover {
  color: #5000ff;
  border-bottom: 2px solid #ffffff;
}

section {
  background-color:#5000ff;
  padding: 10px 40px;
}

section img{
    padding: 0;
    width: 100%;
}

h2 {
  font-size: 32px;
  /* acts equally on the top and the bottom */
  line-height: 1.2;
}

blockquote {
  font-size: 32px;
  line-height: 1.2;
  font-style: italic;
}

.map {
  width: 100%;
}

.contact p {
  margin-top: 20px;
}

.contact a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 15px;
}

.contact a:hover {
 border-bottom: solid 2px #f05d5d;
 padding-bottom: 1px;
}

/* below a screen size */
@media (max-width: 740px) {
  body {
    padding-top: 0px;
    font-size: 16px;
  }

  /* these styles will be applied to all */
  h2, blockquote {
    font-size: 24px;
  }

  nav a {
    display: block;
  }

  nav a:hover {
    border: none;
  }

  section {
    padding: 5px 20px;
  }
}