/* Body applies all the styles to the page */
body {
  font-family: Cooper Hewitt;
  font-size: 16px;
  background-color: #004d96;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}


section {
  /* vh stands for viewPort height which will be relative to the height of the browser window */
  height: vh;
  background-image: url("/secondWebsite/assets/images/image1.jpg");
  background-size: cover;
}