body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 100;
}

header {
  margin: 0 0 50px 0;
}

h1 {
  font-size: 48px;
  line-height: 1.3;
  margin: 0;
}

h2 {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
