body {
  font-family: Playfair Display;
  font-size: 20px;
  line-height: 1.3;
  background-color: #f4f4f4;
  color: #000;
}

header {
  background-color: #000;
  color: #f4f4f4;
  border-top: 5px solid #feea34;
}

/* We apply our flex styles to the inner container rather than 
the outer header element */
header .container {
  justify-content: space-between;
  display: flex;
  align-items: center;
}


header h1 {
  width: 75px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

header nav {
  display: flex;
}

header nav a {
  display: block;
}

.hero {
  background-image: url("/sixthWebsite/assets/images/hero.jpg");
  background-size: cover;
  background-position: right bottom;
  background-color: #bfbfb7;
  padding: 110px 0 120px 0;
  margin-bottom: 30px;
}

.hero h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}
.hero p {
  font-size: 24px;
  margin: 20px 0 0 0;
}

.intro {
  max-width: 420px;
}

.filters {
  margin: 0 0 20px 0;
}

.filters a {
  text-decoration:  none;
  color: #000;
  font-size:  16px;
  margin: 0 15px 0 0;
}

.filters .selected {
  font-weight: 700;
  border-bottom: 3px solid #feea34;
  padding-bottom: 1px;
}


/* .products {
  margin-bottom: 40px;
} */

.products .container {
  display: flex;
  flex-wrap: wrap;
}
.product {
  width: 33.333%;
  /* This supports the overlay class to not use the full width/height of the page */
  position: relative;
}

.product img {
  width: 100%;
}

.overlay {
  opacity: 0;
  position: absolute;
  background-color: rgba(254, 234, 52, 0.7);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 15px;
}

.product:hover .overlay {
  opacity: 1;
}

.product h4, 
.product p {
  font-weight: 700;
}

.product h4 {
  font-size: 18px;
}

.product p {
  font-size: 36px;
}