body {
  font-family: Roboto;
  font-size: 16px;
  /* Will be 24px which is 16 * 1.5 */
  line-height: 1.5;
  color: #47353A;
}

header {
  padding: 10px 15px;
  /* when we float elements inside of our header, they are taken outside the regular box 
  flow of the page and as a result our header collapses.  
  
  to add the headers proper height we can use overflow hidden as a trick to get it working */
  overflow: hidden; 
}

header h1 {
  float: left;
}

header nav {
  float: right;
  margin-top: 15px;
}

header nav a {
  color: #47353A;
  text-decoration: none;
  font-weight: 700;
  margin-left: 12px;
  text-transform: uppercase;
}

.hero {
  background-image: url("/fourthWebsite/assets/images/hero.jpg");
  background-size: cover;
  padding-top: 230px;
  padding-bottom: 200px;
  /* background image on the x (right) and the y (center) axis 
  right hand edge of the image on the right hand edge of our box 
  centered vertically*/
  background-position: right center;
}

.hero div {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.hero h2 {
  font-family: David Libre;
  font-size: 64px;
  line-height: 0.9;
  margin-bottom: 15px;
  font-weight: 700
}

.hero p {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.flowers {
  overflow: hidden;
}

.flowers img {
  float: left;
  /*  by using a percentage width our images will be fluid
  in relation to the size of their container */
  width: 33.3%;
}

.quotes {
  overflow: hidden;
}

.quotes div{
 float: left;
 width: 50%;
 text-align: center;
 padding-top: 50px;
 padding-bottom: 20px;
}

.quotes img {
  width: 75px;
  /* rounding corners of elements using pure css using a percentage will turn
  square avatars into circles */
  border-radius: 100%;
}

.cream-background{
  background-color: #F7F1EE;
 }

 .quotes blockquote {
  margin-top: 10px;
  font-family: David Libre;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 700;
  max-width: 400px;
  margin: 10px auto;
 }

 .chair {
   padding: 0px;
   height: 500px;
   background-position: center bottom;
   background-image: url("/flowers/assets/images/full-bleed.jpg");
 }

 .logos {
   background-color: #EEAE9F;
   padding: 20px 20px 35px 20px;
   text-align: center;
 }

 .logos p {
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
}

.logos img {
  /*  we apply our margins equally on both sides of the element */
  margin-left: 22px;
  margin-right: 22px;
}

footer {
  background-color: #47353A;
  padding: 25px 30px;
  overflow: hidden;
}

footer img {
  float: left;
}

footer p {
  margin-top: 0px;
  float: right;
  font-size: 14px;
  color: #CCC9CA;
  font-weight: 700;
}

@media (max-width: 820px) {
  .logos img {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 680px) {
  .logos img {
    margin-left: 0px auto 35px auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .logos img:last-child {
    margin-bottom: 0px;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }

  header nav {
   line-height: 20px;
  }

  .hero h2 {
    font-size: 32px;
  }

  .hero {
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 5px;
  }

  .chair {
    height: 320px;
  }

  .quotes div{
    float: none;
    width: auto;
    padding: 30px 30px 40px 30px;
  }

  .quotes blockquote {
    font-size: 20px;
  }

  .quotes p {
    display: none;
  }
}

@media (max-width: 430px) {
   header h1, 
   header nav {
    float: none;
   }
   header nav a {
     margin-left: 0px;
     margin-right: 12px;
   }

   .flowers img {
     float: none;
     width: 100%;
   }

   footer {
     padding: 30px 20px;
   }

   .logos {
     padding-top: 10px;
     padding-bottom: 10px;
   }
}
